body,
html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #202020;
  font-family: "Segoe UI", sans-serif;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 60%;
  height: 90%;
  padding: 10px;
  background-color: #2b2a2a;
  border-radius: 1%;
}

.container .input {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

.container .input h1 {
  margin: 0px;
  font-size: 64px;
  font-weight: 300;
}

.result {
  display: flex;
  padding: 5px;
}

.result:hover {
  background-color: #3d3c3c;
  border-radius: 2px;
}

.result.active {
  border-left: 5px solid salmon;
}

.result span {
  margin-right: 10px;
}

hr {
  width: 100%;
}

.operations {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
}

.operator {
  box-sizing: border-box;
  width: 24%;
  text-align: center;
  padding: 10px 0px;
  margin: 1px;
  font-size: 20px;
  background-color: #333232;
  border-radius: 5px;
}

.operator:hover {
  background-color: #3d3c3c;
}

.operator.equal{
  background-color: #F38064;
  color: black;
}

.operator.equal:hover{
  background-color: #f17758;
}